<dl class='metadata-block'>
  {% for item in include.meta %}
    {% if item.value contains 'page.' %}
      {% assign key = item.value | remove: 'page.' %}
      {% assign value = page[key] %}
    {% else %}
      {% assign value = item.value %}
    {% endif %}

    {% comment %}
    Only display non-empty values
    {% endcomment %}
    {% if value | strip != '' %}
      {% if item.type == 'link' %}
        {% if key == 'manifest' %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">Direct link</a><br>
            <a href="https://allmaps.org/editor/#/?url={{ value | absolute_url }}" target="_blank" rel="noreferrer">Open in Allmaps Editor</a><br>
            <a href="https://viewer.allmaps.org/#data={{ value | absolute_url }}" target="_blank" rel="noreferrer">Open in Allmaps Viewer</a><br>
            <a href="http://uv-v4.netlify.app/uv.html#?manifest={{ value | absolute_url }}" target="_blank" rel="noreferrer">Open in Universal Viewer</a><br>
            <a href="https://projectmirador.org/embed/?manifest={{ value | absolute_url }}" target="_blank" rel="noreferrer">Open in Mirador</a><br>
          {%- endcapture -%}
        {% else %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">
              {{ value | absolute_url | remove: 'https://' | remove: 'http://' | split: "/" | first }}
            </a>
          {%- endcapture -%}
        {% endif %}
      {% endif %}
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
    {% endif %}
  {% endfor %}
</dl>
